/*------------------------------------------------------------------

[Responsive Stylesheet]

Project:    PortfolioS
Version:    1.0
Author:     anamulhaquemohan
Author URL: http://themeforest.net/user/anamulhaquemohan

-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[Table of contents]

1. Large Desktop
2. Small Desktop
3. Tablet
4. Phone
5. Small Phone

-------------------------------------------------------------------*/

/* -------------------------------
   1. Large Desktop
   ------------------------------- */

/* -------------------------------
   2. Small Desktop
   ------------------------------- */

/* -------------------------------
   3. Tablet
   ------------------------------- */

/* -------------------------------
   4. Phone
   ------------------------------- */

/* -------------------------------
   5. Small Phone
   ------------------------------- */
